<h2 class="title">Transition (2017)</h2>

<div id="transition-proposals" class="section scrollspy">
  <h4>Transition Proposals</h4>
</div>
<div class="row">
  <div class="col s12 m9">
   <div class="collection">
      <a href="https://docs.google.com/document/d/19qf54psSAx88VGZ9sHAOEGWOMDlr6HYfq_IpyGmbuBA/view" class="collection-item">Three Month Interim Proposal</a>
      <a routerLink="/proposal" class="collection-item">Open Proposal</a>
    </div>
  </div>
  <div class="col s12 m3">
    <p class="caption">
      Community transition proposals
    </p>
  </div>
</div>


<div id="call-for-proposals" class="section scrollspy">
  <h4>Call for Transition Proposals</h4>
</div>
<div class="row">
  <div class="col s12 m9">
   <div class="collection">
      <a href="https://docs.google.com/document/d/19qf54psSAx88VGZ9sHAOEGWOMDlr6HYfq_IpyGmbuBA/view" class="collection-item">Three Month Interim Proposal</a>
      <a routerLink="/proposal" class="collection-item">Open Proposal</a>
    </div>
  </div>
  <div class="col s12 m3">
    <p class="caption">
      Community transition proposals
    </p>
  </div>
</div>
