<h2 class="title">Legal and Finance</h2>

<div id="corp-docs" class="section scrollspy first-section">
  <h4>Corporate Documents</h4>
</div>
<div class="row">
  <div class="col s12 m9">
   <div class="collection">
      <a href="assets/files/ThousandNetworkConstitutionV6-1.pdf" class="collection-item" target="_blank">Thousand Network Constitution (draft) [pdf]</a>
      <a href="assets/files/tn-certificate-of-incorporation.pdf" class="collection-item" target="_blank">Thousand Network Certificate of Incorporation [pdf]</a>
      <a href="assets/files/tn-name-change-application.pdf" class="collection-item" target="_blank">Thousand Network Application for Change of Name</a>
      <a href="assets/files/20161117-Sale-and-purchase-Agreement-Sandbox-AG-Thousand-Network.pdf" class="collection-item" target="_blank">Sandbox Sale and Purchase Agreement [pdf]</a>
      <a href="https://www.facebook.com/groups/537175006411957/permalink/1119618654834253/" class="collection-item" target="_blank">Thousand Network VAT Discussion [fb]</a>
      <a href="https://docs.google.com/spreadsheets/d/1ClLrQ_kFwh0Fl2n4VO9pLKCw9m4dLY4VEZDXTpKxRY0/edit#gid=0" class="collection-item" target="_blank">Corporate Entity Options [google]</a>
    </div>
  </div>
  <div class="col s12 m3">
    <p class="caption">
      These documents cover official legal entities, legal governance, and legal agreement documents.
    </p>
  </div>
</div>

<div id="finance-docs" class="section scrollspy">
  <h4>Finance</h4>
</div>
<div class="row">
  <div class="col s12 m9">
   <div class="collection">
      <a href="https://www.tilt.com/tilts/annual-donation-ce6df04f" class="collection-item" target="_blank">Tilt (2016)</a>
      <a href="https://www.tilt.com/tilts/thousand-network-holiday-fundraising-drive" class="collection-item" target="_blank">Tilt (2015)</a>
    </div>
  </div>
  <div class="col s12 m3">
    <p class="caption">
      Financial records
    </p>
  </div>
</div>

<div id="corp-docs" class="section scrollspy">
  <h4>Corporate Discussions</h4>
</div>
<div class="row">
  <div class="col s12 m9">
   <div class="collection">
      <a href="https://www.facebook.com/groups/537175006411957/permalink/1119618654834253/" class="collection-item" target="_blank">Thousand Network VAT Discussion [fb]</a>
      <a href="https://docs.google.com/spreadsheets/d/1ClLrQ_kFwh0Fl2n4VO9pLKCw9m4dLY4VEZDXTpKxRY0/edit#gid=0" class="collection-item" target="_blank">Corporate Entity Options [google]</a>
    </div>
  </div>
  <div class="col s12 m3">
    <p class="caption">
      These are records of discussions and brainstorming over corporate and legal issues.
    </p>
  </div>
</div>
