$sb-blue: #0264FB;
$sb-magenta: #FF4065;
$sb-red: #EB3B2F;
$sb-lox: #FF6647;
$sb-orange: #FF9230;
$sb-sunflower: #FFD328;
$sb-yellow: #FFEE14;
$sb-turqoise: #00D5A2;
$sb-green: #16D977;
$sb-indigo: #594BD2;
$sb-navy: #0B2E73;
$sb-charcoal: #25222C;
