<h2 class="title">Governance</h2>

<div id="notes" class="section scrollspy">
  <h4>Governance FAQ</h4>
</div>
<div class="row">
  <div class="col s12 m9">
    <div class="card large">
      <div class="card-image">
        <iframe src="https://docs.google.com/document/d/1eup3LrdCc5FzUWCEK4bpqpF_uH6mPvtV_NljcLEzJQE/pub?embedded=true"></iframe>
      </div>
      <div class="card-action">
        <a class="blue-text" href="https://docs.google.com/document/d/1eup3LrdCc5FzUWCEK4bpqpF_uH6mPvtV_NljcLEzJQE/edit">Edit this document</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <p class="caption">
      Status and history on major governance questions.
    </p>
  </div>
</div>

<div id="notes" class="section scrollspy">
  <h4>Governance Community Questions</h4>
</div>
<div class="row">
  <div class="col s12 m9">
    <div class="card large">
      <div class="card-image">
        <iframe src="https://docs.google.com/document/d/1qp9_sg4YPasvu_UV0zzVpHAGBYNry0c4ETrNRfy4L8I/pub?embedded=true"></iframe>
      </div>
      <div class="card-action">
        <a class="blue-text" href="https://docs.google.com/document/d/1qp9_sg4YPasvu_UV0zzVpHAGBYNry0c4ETrNRfy4L8I/edit">Edit this document</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <p class="caption">
      Questions about governance and history raised by members of the community.
    </p>
  </div>
</div>

<div id="notes" class="section scrollspy">
  <h4>Current Management</h4>
</div>
<div class="row">
  <div class="col s12 m9">
    <div class="card large">
      <div class="card-image">
        <iframe src="https://docs.google.com/document/d/1o0afhfMtsovWsjhEzXmmebWtHSnKoinYciPmGn1F1dA/pub?embedded=true" height="500px"></iframe>
      </div>
      <div class="card-action">
        <a class="blue-text" href="https://docs.google.com/document/d/1o0afhfMtsovWsjhEzXmmebWtHSnKoinYciPmGn1F1dA/edit">Edit this document</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <p class="caption">
      The current board officers and other members.
    </p>
  </div>
</div>

<div id="notes" class="section scrollspy">
  <h4>Additional Notes</h4>
</div>
<div class="row">
  <div class="col s12 m9">
    <div class="card large">
      <div class="card-image">
        <iframe src="https://docs.google.com/document/d/1f7nh5LCXykvFLZiRPchZ-GF54zSF3RW3fbNlb0oFTMc/pub?embedded=true"></iframe>
      </div>
      <div class="card-action">
        <a class="blue-text" href="https://docs.google.com/document/d/1f7nh5LCXykvFLZiRPchZ-GF54zSF3RW3fbNlb0oFTMc/edit">Edit this document</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <p class="caption">
      Open space for additional thoughts.
    </p>
  </div>
</div>
